<form action="/gms/{{gm._id}}?_method=PUT" method="POST">
     Name:
    <input type="text" name="name" value="{{gm.name}}">
    <br> Years Experience:
    <input type="text" name="years_experience" value="{{gm.years_experience}}">
    <br> League Type:
    <input type="text" name="league_type" value="{{gm.league_type}}">
    <br>
    <br>
    <input type="submit">
</form>